.test{
    border: 1px solid red;
}
.cards{
    width: 100%;height:400px; background-color: #ffffff; box-shadow:0 0 1.25rem rgba(108,118,134,0.1); flex-direction:column;
}
.card{
    width: 100%; height:200px;
}
.top{
    margin-top: 20px;
}
.p-2{
    padding: 15px;
}